<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Autofac.Configuration" version="3.3.0" targetFramework="net45" />
  <package id="Autofac.Extras.AggregateService" version="3.0.4" targetFramework="net45" />
  <package id="Autofac.Extras.Attributed" version="3.2.1" targetFramework="net45" />
  <package id="Autofac.Extras.CommonServiceLocator" version="3.2.0" targetFramework="net45" />
  <package id="Autofac.Extras.DomainServices" version="3.0.1" targetFramework="net45" />
  <package id="Autofac.Extras.DynamicProxy2" version="3.0.4" targetFramework="net45" />
  <package id="Autofac.Extras.EnterpriseLibraryConfigurator" version="3.0.1" targetFramework="net45" />
  <package id="Autofac.Extras.FakeItEasy" version="3.0.2" targetFramework="net45" />
  <package id="Autofac.Extras.Moq" version="3.0.2" targetFramework="net45" />
  <package id="Autofac.Extras.Multitenant" version="3.1.1" targetFramework="net45" />
  <package id="Autofac.Extras.Multitenant.Wcf" version="3.1.1" targetFramework="net45" />
  <package id="Autofac.Extras.MvvmCross" version="3.2.0" targetFramework="net45" />
  <package id="Autofac.Extras.NHibernate" version="3.0.1" targetFramework="net45" />
  <package id="Autofac.Mef" version="3.0.3" targetFramework="net45" />
  <package id="Autofac.Mvc5" version="3.3.3" targetFramework="net45" />
  <package id="Autofac.SignalR2" version="3.1.0" targetFramework="net45" />
  <package id="Autofac.Wcf" version="3.0.1" targetFramework="net45" />
  <package id="Autofac.Web" version="3.2.0" targetFramework="net45" />
  <package id="Autofac.WebApi2" version="3.4.0" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net45" />
  <package id="FakeItEasy" version="1.18.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net45" />
  <package id="MvvmCross" version="3.1.1" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.1.1" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.1.1" targetFramework="net45" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.1.1" targetFramework="net45" />
  <package id="MvvmCross.PortableSupport" version="3.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Unity" version="2.1.505.0" targetFramework="net45" />
  <package id="Unity.Interception" version="2.1.505.0" targetFramework="net45" />
</packages>