<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="AzureConfigurationGroup">
        <section name ="AzureProfile"
                 type ="CraigLib.Cloud.AzureConfiguration"
                 allowLocation="true"
           allowDefinition="Everywhere"
     />
      </sectionGroup>
    </configSections>
  <AzureConfigurationGroup>
      <AzureProfile AzureProfileName="development"/>
      <AzureProfile AzureToken=""/>
    </AzureConfigurationGroup>
</configuration>